[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==20.8b1"

[packages]
pypi = "*"
twine = "*"
build = "*"

[requires]
python_version = "3.8"
